<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudentManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>StundentForm.jsp</welcome-file>
    <welcome-file>success.jsp</welcome-file>
    <welcome-file>erro.jsp</welcome-file>
    <welcome-file>newCustomer.jsp</welcome-file>
    <welcome-file>updatecustomer.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <description></description>
  <display-name>StudentServlet</display-name>
  <servlet-name>StudentServlet</servlet-name>
  <servlet-class>com.atmangxing.mvcapp.Servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>StudentServlet</servlet-name>
  <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>